{% extends 'MvBlogBundle::base.admin-layout.html.twig' %}

{% if form is defined %}
{% form_theme form 'MvBlogBundle::form_div_layout.html.twig' %}
{% endif %}

{% block title %}
    {{ parent() }}{% if app.request.get('page') > 1 %} (page {{ app.request.get('page') }}){% endif %}
{% endblock %}

{% block blog_body %}
    {% include "MvBlogBundle::flashes.html.twig" %}    
  <div id="mv_blog_page">
    <div id="mv_blog_menu_left">
    <ul>
      <li><a href="{{ path('blog_homepage') }}">Voir mon blog</a></li>
      <li><a href="{{ path('badp_category') }}">Catégories</a></li>
      <li><a href="{{ path('badp_post') }}">Articles</a></li>
      <li><a href="{{ path('badp_comment') }}">Commentaires</a></li>
      <li>{% include "MvBlogBundle::_logout-link.html.twig" %}</li>
    </ul>
    </div>
    <div id="mv_blog_body">
        {% block content_body %}{% endblock %}
    </div>
    <div class="clear"></div>
  </div>
{% endblock %}