{% extends 'MvBlogBundle::admin-layout.html.twig' %}
{% set page_title = 'Modifier le commentaire de "' ~ entity.post.title ~ '"' %}

{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}

{% block content_body %}
<h1>{{ page_title }}</h1>

<form action="{{ path('badp_comment_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('badp_comment') }}">
            Retour à la liste
        </a>
    </li>
    <li><button type="submit">Enregistrer</button></li>
    <li>
        <form action="{{ path('badp_comment_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
</form>
{% endblock %}
