<h1>{{ entity.title }}</h1>

{% include 'MvBlogBundle:Default:_articleCategories.html.twig' with {'entity': entity} %}

<div class="mv_blog_accroche">
{{ entity.accroche|raw }}
</div>

<div id="mv_blog_article">
{{ entity.article|raw }}
</div>

<p class="mv_blog_mention">
Article publié le {{ entity.publied|date('d/m/Y') }} à {{ entity.publied|date('H:i') }}
</p>
