<h1>{{ entity.title }}</h1>

<div id="mv_blog_accroche">
{{ entity.accroche|raw }}
</div>

<div id="mv_blog_article">
{{ entity.article|raw }}
</div>

<p class="mv_blog_mention">
Article créé le {{ entity.created|date('d/m/Y') }} à {{ entity.created|date('H:i') }}
</p>
